*.db
*.db-shm
*.db-wal
# macOS Finder metadata
.DS_Store
**/.DS_Store
vscode-mar/*.vsix
dist/
.gomodcache/
.gocache/
admin/elm-stuff
**/elm-stuff/
**/.elm-home/
admin/dist/
website/dist/
firebase.json
.firebaserc
.firebase*
**/node_modules/
mar
mar.exe
release-local.sh
internal/cli/compiler_assets/
internal/cli/runtime_stubs/
deploy/
